* {
  margin: 0;
}

body {
  font-family: "Computer Modern Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.title-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  align-items: center;
}
.title-container > h1 {
  width: fit-content;
  background: white;
}

.blog-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.about-container {
  width: 100%;
}
.about {
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.85);
}

.canvas-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
}
