* {
  margin: 0;
}

.title-container {
  display: flex;
  justify-content: center;
}
.title-container>div {
  width: 80%;
  max-width: 500px;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: scroll;
}
