<table>
  <thead>
    <tr>
      <th>dates</th>
      <th>diploma</th>
      <th>name</th>
      <th>institution</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2018 - 2021</td>
      <td>Bachelor Degree</td>
      <td>Computer Science and engineering</td>
      <td>Lund's University</td>
    </tr>
    <tr>
      <td>2018 Jan - Jun</td>
      <td>30hp</td>
      <td>Course in Statistics</td>
      <td>Lund's University</td>
    </tr>
  </tbody>
</table>
