<pre>
Nicolo Ridulfo

Programmer by day, programmer by night.

Links
<a href="https://github.com/ridulfo">Github</a> | <a href="/blog">Blog</a>

Work experience
2022 Jun - 2024 Apr     Full-Stack  Ingka IKEA
2021 Oct - 2022 Jun     Full-Stack  Svep Design Center
2021 Jan - 2021 Jul 	Developer   L&aring;n och Spar bank Sverige
2019 Feb - 2021 Jan     Developer   L&aring;n och Spar bank Sverige

Education
2018 Sep - 2021 Jun  BS Computer Science and engineering     Lund's University
2018 Jan - 2018 Jun  Statistics                              Lund's University
</pre>
