---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/thoughts">thoughts</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/projects">projects</a></li>
  </ul>
</MainLayout>
<style>
  ul {
    list-style: none;
  }
  li {
    font-size: larger;
    margin-top: 15px;
  }
</style>
