---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <ul>
    <a href="/1kb" style="font-size:0.7rem">&lt;1kb curriculum</a>
    <li><a href="/about">about</a></li>
    <li><a href="/texts">texts</a></li>
    <li><a href="/projects">projects</a></li>
  </ul>
</MainLayout>
<style>
  ul {
    list-style: none;
  }
  li {
    font-size: larger;
    margin-top: 15px;
  }
</style>
