---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <section>
    <h2>Projects</h2>
    <h3><a href="https://github.com/ridulfo/nino-lang">nino-lang</a></h3>
    <p>
      Nino-lang is designed to be lightweight and efficient, with a focus on
      essential features to enable a wide range of functionalities without
      unnecessary complexity. The language is designed to support a minimal type
      system, first-class functions, and arrays, and is permissive with side
      effects, avoiding the need for monads. The full design has not been
      implemented and the language is currently interpreted, but the ultimate
      goal is to implement a self-hosting compiler. The project has reached a
      state where it supports a modest set of language features.
    </p>
    <h3><a href="https://github.com/ridulfo/ai-tools">ai-tools</a></h3>
    <p>
      A collection of AI-driven tools that follow the Unix philosophy. This
      makes them easily composable and incredibly powerful.

      <br />
      <a href="https://nicolo.se/blog/2023-12-29-unix-style-ai-programs"
        >See this post for a demostration</a
      >
    </p>
    <h3><a href="https://github.com/ridulfo/awk3">awk3</a></h3>
    <p>
      A search and replace tool for computed replaces. Imagine you want to find
      all the font-size declarations in a css file that use <code>rem</code> and
      want to to increase the font-size by <code>1.25x</code>. Using this
      command line utility, this can be done using regex and python. This is how
      it could be done:
    </p>

    <code>$ awk3 "(\d*.\d*)rem" "str(round(float(m[0])*1.25,3))+'rem"</code>
    <hr />

    <h3><a href="https://time-since.nicolo.se">time-since.nicolo.se</a></h3>
    <p>
      Choose a date and time and optionally a title and the app will display the
      time since that date. Share the count up timer by simply copying the URL
      and sending to your friends or saving it by simply bookmarking it! The app
      is built with svelte. <br />Check it out on <a
        href="https://github.com/ridulfo/time-since">Github</a
      >.
    </p>
    <iframe
      style="height:300px;margin:auto;display:block;"
      src="https://time-since.nicolo.se/#/20230412-182000?title=Launch"
      >time since launch</iframe
    >.
    <hr />
  </section>
</MainLayout>

<style>
  h3 {
    margin-bottom: 0;
  }
  section {
    max-width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
