---
import Thought from "@components/Thought.astro";
import MainLayout from "@layouts/MainLayout.astro";
const files = await Astro.glob("./thoughs/*.md");
const posts = files
  .map((file) => ({
    title: file.frontmatter.title,
    date: file.frontmatter.date,
    content: file.Content,
  }))
  .reverse();
---

<MainLayout>
  <h2>Thoughts</h2>
  {
    posts.map((post) => (
      <Thought title={post.title} date={post.date}>
        <post.content />
      </Thought>
    ))
  }
</MainLayout>
<style>
  h2 {
    text-align: center;
    margin: 0;
  }
</style>
