---
export interface Props {
  title?: string;
  titleLink?: string;
}
const { title = "nicolo.se", titleLink = "/" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <meta name="generator" content={Astro.generator} />
    <title>nicolo.se</title>
  </head>
  <body>
    <main>
      <h1 style="margin-top:0"><a href={titleLink}>{title}</a></h1>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;

    background-color: #fdf7e9;
    color: #3c3836;
  }
  main {
    max-width: 38rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    border-top-color: #928374;
    text-indent: initial;
  }
  table th,
  table tr td {
    padding: 0.5rem 1rem;
    border: 1px solid #928374;
  }
  tr:nth-child(2n) {
    background-color: #ebdbb250;
  }
  table tr {
    background-color: #fbf1c750;
  }
  a {
    color: #548153;
  }
  pre {
    border: 1px solid #928374;
    padding: 1rem;
  }
  
  .astro-code {
    background-color: #fdf7e9 !important;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #282828;
      color: #ebdbb2;
    }
    table {
      border-top-color: #928374;
    }
    table th,
    table tr td {
      border: 1px solid #928374;
    }
    tr:nth-child(2n) {
      background-color: #3c383650;
    }
    table tr {
      background-color: #28282850;
    }
    a {
      color: #6ea76d;
    }
    
    .astro-code {
      background-color: #282828 !important;
    }
    
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
</style>
